body {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    font-family: 'Signika Negative', sans-serif;
}

.container {
    background-color: red;
}

.menu-header {}

header {
    background-color: gray;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

li {
    display: inline-block;
    margin: 20px;
}

a {
    color: black;
    text-decoration: none;
}

#logo {
    max-width: 230px;
}